appConfig:
  theme: nord
  language: en
  layout: auto
  iconSize: large
pageInfo:
  title: Homelab
  description: Nelson's Homelab
  navLinks: []
sections:
  - name: Docker
    icon: hl-docker
    items:
      - title: Portainer
        description: Docker container management
        icon: hl-portainer
        url: https://portainer.local.nelsonhickman.com/
        target: newtab
        statusCheck: true
        id: 0_600_portainer
      - title: Dozzle
        description: Log management for docker containers
        icon: hl-dozzle
        url: https://dozzle.local.nelsonhickman.com/
        target: newtab
        statusCheck: true
        id: 1_600_dozzle
      - title: Home Assistant
        description: Home automation tool
        icon: hl-home-assistant
        url: https://homeassistant.local.nelsonhickman.com/
        target: newtab
        statusCheck: true
        id: 2_600_homeassistant
      - title: Jellyfin
        description: Docker based media library and streaming service
        icon: hl-jellyfin
        url: https://jellyfin.local.nelsonhickman.com/
        target: newtab
        statusCheck: true
        id: 3_600_jellyfin
      - title: Mealie
        description: Docker based recipe collection
        icon: hl-mealie
        url: https://mealie.local.nelsonhickman.com/
        target: newtab
        statusCheck: true
        id: 4_600_mealie
      - title: Unifi
        description: 'Network management console '
        icon: hl-ubiquiti
        url: https://unifi.local.nelsonhickman.com
        target: newtab
        statusCheck: true
        id: 5_600_unifi
      - title: Uptime Kuma
        description: Homelab monitoring solution
        icon: hl-uptime-kuma
        url: https://kuma.local.nelsonhickman.com
        target: newtab
        statusCheck: true
        id: 6_600_uptimekuma
      - title: Crashplan
        description: Code 42's backup utility
        icon: >-
          https://media.licdn.com/dms/image/v2/D560BAQH_NHDgbLeSGg/company-logo_200_200/company-logo_200_200/0/1731681767665/crashplan_logo?e=1770249600&v=beta&t=OLGM2VT-Yu470jXUiUbjFtFJKY8ncSqkPYm6_KRRSpc
        url: https://crashplan.local.nelsonhickman.com/
        target: newtab
        statusCheck: true
        id: 7_600_crashplan
      - title: paperless-ngx
        description: >-
          community-supported open-source document management system that
          transforms your physical documents into a searchable online archive
        icon: hl-paperless
        url: http://paperless.local.nelsonhickman.com
        target: newtab
        statusCheck: true
        id: 8_600_paperlessngx
      - title: IT Tools
        description: A collection of IT tools
        icon: hl-it-tools-light
        url: https://it-tools.local.nelsonhickman.com
        target: newtab
        statusCheck: true
        id: 9_600_ittools
      - title: Calibre Web
        description: web based e-reader
        icon: hl-calibre-web
        url: https://calibre.local.nelsonhickman.com
        target: newtab
        statusCheck: true
        id: 10_600_calibreweb
      - title: Vert
        description: Self-hosted file converter
        icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/vert.svg
        id: 11_600_vert
  - name: Physical Devices
    icon: mdi-NetworkOutline
    displayData:
      sortBy: default
      rows: 1
      cols: 1
      collapsed: false
      hideForGuests: false
    items:
      - title: Pi Hole
        description: Raspberry Pi based DNS and network level ad blocking
        icon: hl-pihole
        url: http://pi.hole
        target: newtab
        statusCheck: true
        id: 0_1568_pihole
      - title: Router
        description: Mikrotik router
        icon: hl-mikrotik
        url: https://router.local.nelsonhickman.com
        target: newtab
        statusCheck: true
        id: 1_1568_router
      - title: TrueNAS Core
        description: BSD based Network Attached Storage
        icon: hl-truenas
        url: http://192.168.88.68/
        target: newtab
        statusCheck: true
        id: 2_1568_truenascore
      - title: Quarks
        description: Proxmox server
        icon: hl-proxmox
        url: https://proxmox.local.nelsonhickman.com/
        target: newtab
        statusCheck: true
        id: 3_1568_quarks
  - name: Internet
    displayData:
      sortBy: default
      rows: 1
      cols: 1
      collapsed: false
      hideForGuests: false
    items:
      - title: cloudflare
        icon: hl-cloudflare
        url: https://www.cloudflare.com
        target: newtab
        id: 0_841_cloudflare
      - title: namecheap
        description: registrar for nelsonhickman.com and pappyhour.org
        icon: favicon
        url: https://www.namecheap.com/
        target: newtab
        id: 1_841_namecheap
      - title: Crashplan Web Console
        description: Online console to restore data from
        icon: >-
          https://media.licdn.com/dms/image/v2/D560BAQH_NHDgbLeSGg/company-logo_200_200/company-logo_200_200/0/1731681767665/crashplan_logo?e=1770249600&v=beta&t=OLGM2VT-Yu470jXUiUbjFtFJKY8ncSqkPYm6_KRRSpc
        url: https://www.crashplan.com/sign-in/
        target: newtab
        id: 2_841_crashplanwebconsole
      - title: nelsonhickman.com email
        description: Email for selfhosted domain
        icon: U+1F4E7
        url: https://privateemail.com/
        target: newtab
        id: 3_841_nelsonhickmancomemail
      - title: Tailscale
        description: Remote access for homelab
        icon: hl-tailscale-light
        url: https://login.tailscale.com/admin/machines
        target: newtab
        id: 4_841_tailscale